<div class="d-flex h-100" id="wrapper">
  <div class="bg-light border-end col-2 h-100" id="sidebar-wrapper">
    <div class="sidebar-heading p-3">Sidebar Title</div>
    <div class="list-group list-group-flush">
      <a routerLinkActive="active" routerLink="/home"
        class="list-group-item list-group-item-action bg-light">Anasayfa</a>
      <a routerLinkActive="active" routerLink="/categories"
        class="list-group-item list-group-item-action bg-light">Kategori</a>
      <a routerLinkActive="active" routerLink="/products"
        class="list-group-item list-group-item-action bg-light">Ürün</a>
      <a routerLinkActive="active" routerLink="/builtInPipes"
        class="list-group-item list-group-item-action bg-light">Angular Built-In && Custom Pipes && Directives</a>
      <a routerLinkActive="active" routerLink="/dirtyguard"
        class="list-group-item list-group-item-action bg-light">Dirty Guard</a>

    </div>
  </div>
  <div id="page-content-wrapper" class="col-10">
    <ng-content></ng-content>
  </div>
</div>
